@model List<ProductCategory>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">


<div class="container-1 mx-2">
    <div class="row">
        <aside class="col-md-3">

            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Категории</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">
                            <ul class="list-menu">
                                @foreach (var item in @Model)
                                {
                                    <li><a asp-controller="Catalog" asp-action="Index"
                                        asp-route-id="@item.CategoryId">@item.Name</a></li>
                                }
                            </ul>

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group  .// -->
            </div>
        </aside>

        <main class="col">
            @await Component.InvokeAsync("CategoriesList", Model);
        </main>
    </div>
</div>