@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ссылка для подтверждения аккаунта: <a id="confirm-link" href="@Model.EmailConfirmationUrl"></a>
        </p>
    }
    else
    {
        <p>
            Проверьте почту для подтверждения аккаунта.
        </p>
    }
}
