@model Cart

<button type="button" class="btn btn-light position-relative">
    <a asp-controller="Cart" asp-action="Index" class="nav-item cart">
        @Model.Cost руб.<i class="fas fa-shopping-cart"></i>
    </a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @Model.Count
        <span class="visually-hidden">unread messages</span>
    </span>
</button>