@using Microsoft.AspNetCore.Identity
@using bestBuild.Areas.Identity.Data

@inject SignInManager<ClientCred> SignInManager
@inject UserManager<ClientCred> UserManager
@{
    ClientCred Appuser = await UserManager.GetUserAsync(User)!;
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User != null && Appuser != null)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
            title="Manage">Привет, @Appuser.UserFirstName @Appuser.UserLastName!</a>
        </li>
        if (Context.User.IsInRole("admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link d-flex dropdown-toggle" aria-current="page" aria-haspopup="true" asp-controller="Categories"
            asp-action="Index">
                    <strong class="fw-bold text-danger d-block">ADMIN</strong>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a class="nav-link" aria-current="page" asp-controller="Catalog" asp-action="Index">
                            Категории
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" asp-controller="Catalog" asp-action="Index">
                            Товары
                        </a>
                    </li>
                    <hr>
                    <li class="dropdown-item">
                        <a class="nav-link" aria-current="page" asp-controller="Orders" asp-action="ManageOrders">
                            Заказы
                        </a>
                    </li>
                </ul>
            </li>
        }
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Выйти</button>
            </form>
        </li>
        <li class="nav-item">
            @await Component.InvokeAsync("Cart")
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
