@model IEnumerable<Product>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-sm-4">
                <partial name="ProductCardPartial" model="@item" />
            </div>
        }
    </div>
</div>