@model ProductCategory
@{
    ViewData["Title"] = $"Удаление категории";
}
<div class="container mt-2">
    <h1>Удаление категории</h1>

    <a asp-controller="Categories" asp-action="IndexTable" class="btn btn-primary">Обратно к списку</a>
    <hr>
    <form asp-controller="Categories" asp-action="DeleteConfirmed" asp-route-id="@Model.CategoryId"
        enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input disabled asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea disabled asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <img src="~/Images/Categories/@Model.ImagePath" alt="">
                </div>
            </div>
        </div>
    </form>
    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.CategoryId">Редактировать</a>
    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.CategoryId">Удалить</a>

</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}