@page
@model IndexModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.UserFirstName" class="form-control" />
                <label asp-for="Input.UserFirstName" class="form-label"></label>
                <span asp-validation-for="Input.UserFirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserLastName" class="form-control" />
                <label asp-for="Input.UserLastName" class="form-label"></label>
                <span asp-validation-for="Input.UserLastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-6 mb-3">
                    <h6>Персональная скидка</h6>
                    <p class="text-muted">@Model.Input.PersDisc</p>
                </div>
                <div class="col-6 mb-3">
                    <h6>Сумма выкупа</h6>
                    <p class="text-muted">@Model.Input.Redemp</p>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </form>

    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
