@page
@model OrdersModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Заказы";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>На этой вкладке вы можете просмотреть историю ваших заказов.</p>
    </div>
</div>
<div class="list-group">
    @foreach (var item in @Model.Orders!)
    {
        if (!item.IsInProcess)
        {
            <div class="list-item disabled">
                <partial name="OrderItemListPartial" model=@item />
            </div>
        }
        if (item.IsInProcess)
        {
            <partial name="OrderItemListPartial" model=@item />
        }
    }
</div>