@page
@model PersonalDataModel
@{
    Layout = "_Layout.cshtml";
}
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит предоставленные Вами личные данные. На этой странице вы можете удалить их вместе со
            своим профилем.</p>
        <p>
            <strong>Удаление этих данных приведет к необратимому удалению аккаунта.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
