@model IEnumerable<ProductCategory>

<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li class="dropdown-item">
            <a class="nav-link" aria-current="page" asp-controller="Catalog" asp-action="Index"
            asp-route-id="@item.CategoryId"> @item.Name</a>
        </li>
    }
</ul>